
<head>
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
    
</head>
<body>
    

        <form id="formChatTenis" onsubmit="return enviarMensaje(this)">
            <p>Ingrese su mail</p>
            <input type="text" id="mail">
            <p>Nombre</p>
            <input type="text" id="nombre">
            <p>Apellido</p>
            <input type="text" id="apellido">
            <p>Categoria</p>
            <input type="text" id="categoria">
            <p>Mensaje</p>
            <input type="text" id="chat_mensaje">
            <br>
            <button id="btnEnviar">ENVIAR</button>
        </form>
            <button id="btnEliminar">ELIMINAR TODOS LOS MSJ</button>
    </div>
    
    <h1>---------------------CHAT---------------------</h1>
    <div id="mensajes" class="contenedor_mensajes">
        
    </div>


    
    
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="../src/chat.js"></script>
