
<head>
    <link rel="stylesheet" href="../../css/style.css">
    <title>Document</title>
    
</head>
<body>
    

        <form id="formChatTenis" onsubmit="return enviarMensaje(this)">
            <p>Usuario</p>
            <input type="text" readonly value=<%= usuario %> id="mail">
            <p>X Nombre (se carga a la DB, pero por ahora no tiene funcion alguna)</p>
            <input type="text" id="nombre" >
            <p>X Apellido (se carga a la DB, pero por ahora no tiene funcion alguna)</p>
            <input type="text" id="apellido">
            <p>X Categoria (se carga a la DB, pero por ahora no tiene funcion alguna)</p>
            <input type="text" id="categoria">
            <p>Mensaje</p>
            <input type="text" id="chat_mensaje">
            <br>
            <button id="btnEnviar">ENVIAR</button>
        </form>
        <form onsubmit="return eliminarMensajes(this)">
            <p>Esta funcion es para no colapsar MONGODB, en realidad no existirá</p>
            <button id="btnEliminar">ELIMINAR TODOS LOS MSJ</button>
            <p>En caso de error de websocket refrezcar la página 2 o 3 veces</p>
        </form> 
    </div>
    
    <h1>---------------------CHAT---------------------</h1>
    <div id="mensajes" class="contenedor_mensajes">
        <% listarMsg.forEach(msg => { %>
            <div>
                <h4><%= msg.mailTenista %>: <%= msg.mensaje %></h4>
            </div>
        <% }) %>
    </div>


    
    
</body>

<script src="../../socket.io/socket.io.js"></script>
<script src="../../src/chat.js"></script>
